<!-- <mat-checkbox>Subscribe to Newsletter</mat-checkbox> -->
<!-- <input type="checkbox" checked="checked" value="" change> -->

<!-- <mat-checkbox
  #showDetails
[checked]="isChecked"
(change)="onChange($event)">
  Show Details
</mat-checkbox>


<div *ngIf="showDetails.checked">Some details...</div> -->


<!-- <mat-radio-group value="0">
  <mat-radio-button value="1">Male </mat-radio-button>
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group> -->


<!-- <mat-form-field appearance="fill">
  <mat-select [(ngModel)]="color">
    <mat-option
    *ngFor="let color of colors" 
    value="color.id">{{ color.name }}</mat-option>
  </mat-select>
</mat-form-field> -->

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Username </mat-label>
    <input matInput placeholder="Username" required>
    <!-- <span matSuffix>@domain.com</span> -->
    <span matSiffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error>
      The username is required
    </mat-error>
  </mat-form-field>
  <br>
  <mat-hint>Type a unique username</mat-hint>
  <br>
</form>