<!-- <mat-checkbox>Subscribe to Newsletter</mat-checkbox> -->
<!-- <input type="checkbox" checked="checked" value="" change> -->

<!-- <mat-checkbox
  #showDetails
[checked]="isChecked"
(change)="onChange($event)">
  Show Details
</mat-checkbox>


<div *ngIf="showDetails.checked">Some details...</div> -->


<!-- <mat-radio-group value="0">
  <mat-radio-button value="1">Male </mat-radio-button>
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group> -->


<!-- <mat-form-field appearance="fill">
  <mat-select [(ngModel)]="color">
    <mat-option
    *ngFor="let color of colors" 
    value="color.id">{{ color.name }}</mat-option>
  </mat-select>
</mat-form-field> -->

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Username </mat-label>
    <input 
    ngModel
    #username="ngModel"
    name="username"

    matInput placeholder="Username" required>
    <!-- <span matSuffix>@domain.com</span> -->
    <span matSiffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors">
      The username is required
    </mat-error>
    
  </mat-form-field>
  <br>
  <mat-hint>Type a unique username</mat-hint>
  <br>
  
</form>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input
  [min]="minDate"
  [max]="maxDate"
  matInput 
  [matDatepicker]="birthdate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
  <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
</mat-form-field>
<br>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon>add_alert</mat-icon> <br>
<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button mat-fab><mat-icon>check</mat-icon></button>

<!-- <mat-chip-list>
  <mat-chip selected="true" color="accent">One</mat-chip>
  <mat-chip>Two</mat-chip>
</mat-chip-list> -->

<!-- <mat-chip-list>
  <mat-chip 
  *ngFor="let category of categories"
  (click) = "selectedCategory(category)"
  (click)="category.selected = !category.selected"
  [selected]="category.selected"
  >
    {{ category.name }}
  </mat-chip>
</mat-chip-list> -->

<mat-chip-list>
  <mat-chip
  *ngFor="let category of categories">
    {{  category.name }}
  </mat-chip> 
</mat-chip-list>

<!-- <mat-progress-spinner 
mode="determinate" 
value="20"
></mat-progress-spinner> -->

<mat-progress-spinner 
mode="determinate" 
[value]="progress"
*ngIf="isLoading"
></mat-progress-spinner>

<span matTooltip="Some Text"
matTooltipPosition="right"
>Some Text</span>

<br>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Billing Information">Content 1</mat-tab>
  <mat-tab label="Shipping Information">Content 2</mat-tab>
  <mat-tab label="Order Information">Content 3</mat-tab>
</mat-tab-group>

<button 
(click)="openDialog()"
mat-raised-button
>Open Dialog</button>

<h1>Heading 1</h1>
<h1>Heading 2</h1>